<!DOCTYPE html>
<html>

<% include templates/head %>

<body id='landing'>

	<!-- ABOUT ME SECTION -->
	<section id='home'>
		<div class="row">
			<div class='large-8 large-centered medium-10 medium-centered columns'>
				<h1>Hi, I'm Elaine</h1>
				<p>I'm fascinated by how modern products, technologies, and creative processes affect people, and vice versa. I'm a Masters student at Stanford studying Human-Computer Interaction.</p>

				<p>Sometimes, you can find me on the Internet. Say hello!</a></p>
				<ul class='social-media inline-list hide-for-small'>
					<li><a href='http://instagram.com/zhoufosho' target='_blank'><i class='fa fa-lg fa-instagram'></i></a></li>
					<li><a href='http://twitter.com/zhoufosho' target='_blank'><i class='fa fa-lg fa-twitter'></i></a></li>
					<li><a href='http://facebook.com/zhoufosho' target='_blank'><i class='fa fa-lg fa-facebook'></i></a></li>
					<!-- <li><a href='https://www.linkedin.com/in/elainexzhou' target='_blank'><i class='fa fa-lg fa-linkedin'></i></a></li> -->
					<li><a href='http://codepen.io/zhoufosho/' target='_blank'><i class='fa fa-lg fa-codepen'></i></a></li>
					<!--<li><a href='http://github.com/zhoufosho/' target='_blank'><i class='fa fa-lg fa-github'></i></a></li>-->			<li><a href='mailto:ezhou@stanford.edu' target='_blank'><i class='fa fa-lg fa-send'></i></a></li>
				</ul>

				<br />

			</div>
		</div>
		<div class="row">
			<div class='large-1 large-push-8 medium-2 medium-push-8 small-3 small-push-7 columns'>
				<img src="images/logoDark.png">
			</div>
		</div>
	</section>

<div class='clearfix'></div>

<!-- PROJECTS SECTION -->
<section id='projects'>
	<div class='row'>
		<div class='large-12 large-centered columns'>

			<ul class='tiles'>
				<% for(var i=0; i<projects.length; i++) { %>
					<% var project = projects[i] %>
					<% if (i % 3 == 0) { %>
					<div class='row tile-row'>
						<li class='medium-7 large-8 columns major'>
							<div class='tile' id='<%- project.slug %>' >
					<% } else {  %>
						<li class='medium-5 large-4 columns minor'>
							<div class='tile' id='<%- project.slug %>' >
					<% } %>
							
								<div class='tile-img'>
									<div class='inner' style='background-image: url("<%- project.img %>")'></div>
								</div>
								<div class='tile-text'>
									<div class='row'>
										<% if(i % 3 == 0) { %>
										<div class='medium-11 large-10 columns'>
											<h4 class='title-underline'><%- project.name %></h4>
											<div class='proj-content'><p><%- project.content %></p></div>
										<% } else { %>
										<div class='medium-11 large-11 columns'>
											<h5 class='title-underline'><%- project.name %></h5>
											<div class='proj-content'><p><%- project.content %></p></div>
										<% } %>
										</div>
									</div>
								</div>
							</div>
						</li>
					<% if (i % 3 == 2) { %>
					</div>
					<% } %>
				<% } %>
			</ul>
		</div>
	</div>
</section>

<!-- WORK SECTION -->
<section id='work'>
	<div class='row'>
		<div class='large-12 large-centered columns'>

			<ul class='tiles'>
				<div class='row tile-row'>
					<% for(var i=0; i<works.length; i++) { %>
						<% var work = works[i] %>
							<li class='medium-4 columns minor'>
								<div class='tile' id='<%- work.slug %>' data-url='<%- work.url %>'>
									<div class='tile-img'>
										<div class='inner' style='background-image: url("<%- work.img %>")'></div>
									</div>
									<div class='tile-text'>
										<div class='row'>
											<div class='medium-11 large-10 columns'>
												<h5 class='title-underline'><%- work.name %></h5>
												<div class='proj-content'><p><%- work.content %></p></div>
											</div>
										</div>
									</div>
								</div>
							</li>
						<% if (i % 3 == 2) { %>
						</div>
						<% } %>
					<% } %>
				</div>
			</ul>
		</div>
	</div>
</section>


<footer>
	<div class='row'>
		<div class='center'>
		 <p>Elaine Zhou • 2016</p>
		</div>
	</div>
</footer>

<% include templates/scripts %>
<script src='javascripts/index-script.js'></script>


</body>
</html>